header {
    width: 100%;
    height: var(--height-header);
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue-bg-cl;
    z-index: 5;
    .container-fluid {
        height: 100%;
        @include midFlex;
        z-index: 2;
        .header__logo {
            padding-left: 30px;
            z-index: 4;
            @include md {
                padding-left: 0;
            }
        }
        .header__menu {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;

            li {
                a {
                    padding: 0 12.5px;
                    position: relative;
                    @include midFlex;
                    @include text(var(--body14-fs), owr, var(--body14-lh), $white-cl, uppercase);
                    text-decoration: none;
                    @include transition($t);
                    &:hover {
                        color: $yellow-cl;
                        opacity: 0.7;
                        @include transition($t);
                        &::after {
                            @include transition($t);
                        }
                    }
                }
            }
        }
        .right {
            width: 200px;
            height: 100%;
            display: flex;
            @include midFlex;
            z-index: 4;
            .header__btnmenu {
                display: none;
                width: 40px;
                height: 22px;
                position: relative;
                cursor: pointer;
                z-index: 5;
                span {
                    width: 100%;
                    height: 2px;
                    display: block;
                    background: $yellow-cl;
                    position: absolute;
                    top: 50%;
                    @include transform(translateY(-50%));
                    @include transition(0.3s);
                }
                &::before,
                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    display: block;
                    background: $yellow-cl;
                    @include transform(rotate(0deg) translate(0, 0));
                    @include transition(transform 0.3s);
                }
                &::after {
                    position: absolute;
                    bottom: 0;
                }
                &.active {
                    &::before {
                        @include transform(rotate(45deg) translate(6px, 8px));
                        @include transition(transform 0.3s);
                    }
                    span {
                        opacity: 0;
                        @include transition(transform 0.3s);
                    }
                    &::after {
                        @include transform(rotate(-45deg) translate(4px, -8px));
                        @include transition(transform 0.3s);
                    }
                }
            }
        }
        .nav {
            display: block;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100vh;
            background: $dark-bg-cl;
            position: fixed;
            top: 0;
            left: 0;
            @include transform(initial);

            @include transition(opacity 0.3s);
            z-index: 3;
            ul {
                flex-direction: column;
                @include mid();
                li {
                    margin: 15px auto;
                    text-align: center;
                    a {
                        color: $white-cl;
                    }
                }
            }
            &-lang {
                @include mid();
                top: 80%;
            }
            &-btn {
                @include mid();
                top: 85%;
            }
        }
        @include md {
            .header__menu {
                display: none;
            }
            .right {
                width: fit-content;
                .header__lang {
                    display: none;
                }
                .header__btn {
                    display: none;
                }
                .header__btnmenu {
                    display: block;
                }
            }
            .nav {
                &.active {
                    opacity: 1;
                    visibility: visible;
                    @include transition(opacity 0.3s);
                }
            }
        }
    }
}
