.events {
    .scblogs {
        .container {
            @include mid(true);
            .blogs {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
                @include md {
                    grid-template-columns: repeat(2, 1fr);
                }
                @include xs {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}
